.card-presupuesto {
    background-color: #acd5ba    !important;
    color: rgb(11, 11, 11) !important;
    border-color:  #327033 ;
  }
  
  .card-gasto {
    background-color: #db9297  !important;
    color: rgb(7, 7, 7) !important;
  }
  .card-presupuesto .btn-primary {
    background-color: #acd5ba;
    border-color: #327033;
    color: #327033 !important;
    font-weight: bold;
  }
  .card-gasto .btn-primary {
    background-color: #db9297;
    border-color:  #b84954  ;
    color:  #b84954  !important;
    font-weight: bold;
  }
  
  .card-gasto .btn-primary:hover {
    background-color: #C82333;
  }
  
  .card-presupuesto .btn-primary:hover {
    background-color: #1E7E34;
  }
  
  .btn-presupuesto:hover {
    background-color: #218838;
    color: white;
    border-color: #1e7e34;
  }
  
  .btn-gasto:hover {
    background-color: #c82333;
    color: white;
    border-color: #bd2130;
  }
  
  .card-gasto .btn-primary:hover {
    background-color: #db9297;
    border-color: #b84954;
    color: white !important; 
    font-weight: bold;
  }
  
  .card-presupuesto .btn-primary:hover {
    background-color: #acd5ba;
    border-color: #327033;
    color: white !important; 
    font-weight: bold;
  }
  

  .card-gasto .btn-primary:focus,
  .card-gasto .btn-primary:active,
  .card-presupuesto .btn-primary:focus,
  .card-presupuesto .btn-primary:active {
    background-color: #db9297;
    border-color: #b84954;
    color: #b84954 !important;
    font-weight: bold;
  }
  
  .fa-xs {
    font-size: 0.8em;
  }
  .btn-sm {
    font-size: 5px;
  }
  